body {
    overflow-x: hidden;
}

p {
    font-family: 'ubuntu';
    color: grey;
    font-size: 1.15rem;
}

/* Buttons */

#title .btn-lg {
    --bs-btn-padding-y: 10px;
    --bs-btn-padding-x: 20px;
    --bs-btn-font-size: 1.5rem;
    margin:2.5% 3% 2% auto;
}

#cta .btn-lg {
    --bs-btn-padding-y: 10px;
    --bs-btn-padding-x: 20px;
    --bs-btn-font-size: 1.5rem;
    margin:1.5% 2% 2% auto;
}


/* Navbar */

 .navbar .navbar-brand { 
    font-family: 'ubuntu';
    font-weight: 700;
    font-size: 2.8rem;
}  

.navbar {
    margin-bottom: 75px;
    color: white;
}

.nav-item {
    margin: auto 20px;
    font-size: 1.2rem;
    font-family: 'Montserrat';
}
h1, h2, h3 {
    font-family: "montserrat";
    font-weight: 700;
}
/* Title  */


.big-heading {

    font-weight: 900;
    color: white;
    line-height: 1.5;
    font-size: 3rem;
}


#title .container-fluid {
    padding:3% 15% 7%;
    background-color: #ff4c68;
    
}

.title-image {
    transform: rotate(25deg);
    width: 20%;
    position: absolute;
    right: 25%;
    
    
}

/* Features */

#features {
    background-color: white;
    position: relative;
    padding: 10% 7%;
}

.icon {
    margin-bottom: 10px; 
    color:  #ef8172;
}

.icon:hover {
    color:  #ff4c68;
}

#features .row {
    --bs-gutter-y: 5rem;
}

.feature-title {
    font-weight: 700;
}

/* Testimonials */

#testimonials {
    background-color: #ef8172;
    text-align: center;
    color: white;
    padding:7% 15%;
}

.testimonial-image {
    border-radius: 100%;
    width: 10%;
    margin: 50px 20px;
}

.testimonial-text {
    font-weight: 700;
    line-height: 1.5;
    font-size: 3rem;
}



/* Carousel */

.carousel .carousel-control-prev {
    left: -22%;
    padding-bottom: 100px;
}

.carousel .carousel-control-next {
    right:-22%;
    padding-bottom: 100px;
}

/* Press */

.press-logo {
    margin: 20px;
    width: 20%;
}

/* Pricing  */

#pricing {
    padding: 7% 15%;
    text-align: center;
}

.pricing-heading {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}

#pricing .row {
    --bs-gutter-y: 3rem;
    --bs-gutter-x: 3rem;
    margin-top: 30px;
}

.card-head {
    font-weight: 700;
}

.card-title {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.5;
}

/* CTA */

#cta .container-fluid {
    padding: 7% 15%;
    background-color: #ff4c68;
    text-align: center;
}

.cta-heading {
    font-weight: 700;
    line-height: 1.5;
    font-size: 3rem;
    color: white;

}

/* Footer */

#footer {
    padding: 7% 15%;
    text-align: center;
}

.social-icon {
    margin: auto 10px 20px;
}

.rick-roll, .rick-roll:hover {
    color: black;
}

/* @media commands  */

@media (max-width: 1148px) {
   
    #title {
    text-align: center;
   }

    .title-image {
    position: relative;
    width: 50%;
    transform: rotate(0);
    margin: 10% auto auto 50%;
   }
}
